# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Nx
.nx/cache
.nx/workspace-data

.env
.env.*
*.env.*

*.tsbuildinfo.*
.tsbuildinfo

.cursor/mcp.json

# compiled output
dist
tmp
out-tsc
gitlab-ci-local
gl-secret-detection-report.json

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Vite
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Testing
/cypress/videos
/cypress/screenshots

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Temporary folders
tmp/
temp/
