@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius: 0.625rem;
  --background: oklch(97.788% 0.004 56.375); /* base-100 */
  --foreground: oklch(23.574% 0.066 313.189); /* base-content */
  --card: oklch(93.982% 0.007 61.449); /* base-200 */
  --card-foreground: oklch(23.574% 0.066 313.189);
  --popover: oklch(91.586% 0.006 53.44); /* base-300 */
  --popover-foreground: oklch(23.574% 0.066 313.189);

  --primary: oklch(85% 0.138 181.071);
  --primary-foreground: oklch(43% 0.078 188.216);

  --secondary: oklch(89% 0.061 343.231);
  --secondary-foreground: oklch(45% 0.187 3.815);

  --accent: oklch(90% 0.076 70.697);
  --accent-foreground: oklch(47% 0.157 37.304);

  --neutral: oklch(27% 0.006 286.033);
  --neutral-foreground: oklch(92% 0.004 286.32);

  --info: oklch(68% 0.169 237.323);
  --info-foreground: oklch(29% 0.066 243.157);

  --success: oklch(69% 0.17 162.48);
  --success-foreground: oklch(26% 0.051 172.552);

  --warning: oklch(79% 0.184 86.047);
  --warning-foreground: oklch(28% 0.066 53.813);

  --destructive: oklch(64% 0.246 16.439); /* error */
  --destructive-foreground: oklch(27% 0.105 12.094);

  --border: 2px;
  --input: oklch(93.982% 0.007 61.449);
  --ring: oklch(68% 0.169 237.323);

  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --depth: 1;
  --noise: 0;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

.dark {
  --background: oklch(27% 0.006 286.033);
  --foreground: oklch(92% 0.004 286.32);
  --card: oklch(23.574% 0.066 313.189);
  --card-foreground: oklch(97.788% 0.004 56.375);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
